body {
background-color: #f2f1e6;
color: #333;
font-family: Arial, sans-serif;

}

/*.dosparrafos{
text-align: center;
font-weight: bold;
color: blueviolet;
} */

header {
background-color: cyan;
color: #fff;
text-align: center;
padding: 20px;
}
section {
		
padding: 20px; /* espaciado para la sección de 20 pixeles */}

footer {

background-color: #3dbccb; /* Color de fondo del footer */
color: #fff;
padding: 20px 0; }

.footer-content {

max-width: 800px; /* Ancho máximo del contenido del footer */
margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
text-align: center; }

nav {
background-color: #3dbccb;
padding: 10px;
border-radius: 5px;

}
nav ul {
list-style: none;
margin: 0;
padding: 0;
text-align: center;
}
nav ul li {
display: inline-block;
margin-right: 20px;
}
nav ul li a {

color: #fff;
padding: 8px 16px;

}
nav ul li a:hover {

background-color: cyan;
color: darkblue;
}
 img {
display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
margin: 0 auto; /* Centrar las imágenes horizontalmente */
max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
border: 3px solid blue; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
} 
.parrafo{
	font-weight: bold;
	text-align: center;

}
 .nav-item{
	font-weight: bold;
}
.social-icons {
	display: inline-flex;
	margin-right: 20px;
}
.presentacion{

}
.tarjetas{
	display: inline-flex;
	align-items: center;
}

.registro{
	align-content: center;
	max-width: 500px;

}